MARIADB_ROOT_PASSWORD={{ mariadbRootPassword }}

DB_HOST={{ dbHost }}
DB_PORT={{ dbPort }}

SOCKETIO={{ socketio }}
SOCKETIO_PORT={{ socketioPort }}
BACKEND={{ backend }}

UPSTREAM_REAL_IP_ADDRESS={{ upstreamRealIpAddress }}
UPSTREAM_REAL_IP_HEADER={{ upstreamRealIpHeader }}
UPSTREAM_REAL_IP_RECURSIVE={{ upstreamRealIpRecursive }}

PROXY_READ_TIMEOUT={{ proxyReadTimeout }}

CLIENT_MAX_BODY_SIZE={{ clientMaxBodySize }}

FRAPPE_SITE_NAME_HEADER={{ frappeSiteNameHeader }}

REDIS_CACHE={{ redisCache }}
REDIS_QUEUE={{ redisQueue }}

SITES={{ sites }}