AUTHENTIK_SECRET_KEY={{ authentik_secret }}
AUTHENTIK_EMAIL__HOST={{ authentik_email.host }}
AUTHENTIK_EMAIL__PORT={{ authentik_email.port }}
AUTHENTIK_EMAIL__USERNAME={{ authentik_email.username }}
AUTHENTIK_EMAIL__PASSWORD={{ authentik_email.password }}
AUTHENTIK_EMAIL__USE_TLS={{ authentik_email.useTls }}
AUTHENTIK_EMAIL__USE_SSL={{ authentik_email.useSsl }}
AUTHENTIK_EMAIL__TIMEOUT={{ authentik_email.timeout }}
AUTHENTIK_EMAIL__FROM={{ authentik_email.from }}
AUTHENTIK_POSTGRESQL__USER={{ postgres_user }}
AUTHENTIK_POSTGRESQL__NAME={{ postgres_database }}
AUTHENTIK_POSTGRESQL__PASSWORD={{ postgres_password }}

AUTHENTIK_REDIS__HOST=authentik-cache
AUTHENTIK_POSTGRESQL__HOST=authentik-database
AUTHENTIK_AVATARS=none
AUTHENTIK_ERROR_REPORTING__ENABLED=false

AUTHENTIK_BOOTSTRAP_PASSWORD={{ authentikBootstrapPassword }}
AUTHENTIK_BOOTSTRAP_EMAIL={{ authentikBootstrapEmail }}
AUTHENTIK_BOOTSTRAP_TOKEN={{ authentikBootstrapToken }}