MARIADB_ROOT_PASSWORD={{ mariadbRootPassword }}
MARIADB_ROOT_PASSWORD_HASH={{ mariadbRootPasswordHash }}

MARIADB_ALLOW_EMPTY_ROOT_PASSWORD={{ mariadbAllowEmptyRootPassword }}
MARIADB_RANDOM_ROOT_PASSWORD={{ mariadbRandomRootPassword }}

MARIADB_ROOT_HOST={{ mariadbRootHost }}
MARIADB_DATABASE={{ mariadbDatabase }}
MARIADB_USER={{ mariadbUser }}
MARIADB_PASSWORD_HASH={{ mariadbPasswordHash }}
MARIADB_PASSWORD={{ mariadbPassword }}

MARIADB_MYSQL_LOCALHOST_USER={{ mariadbMysqlLocalhostUser }}
MARIADB_MYSQL_LOCALHOST_GRANTS={{ mariadbMysqlLocalhostGrants }}

MARIADB_HEALTHCHECK_GRANTS={{ mariadbHealthcheckGrants }}
MARIADB_INITDB_SKIP_TZINFO={{ mariadbInitDbSkipTZInfo }}
MARIADB_AUTO_UPGRADE={{ mariadbAutoUpgrade }}
MARIADB_DISABLE_UPGRADE_BACKUP={{ mariadbDisableUpgradeBackup }}

MARIADB_MASTER_HOST={{ mariadbMasterHost }}
MARIADB_REPLICATION_USER={{ mariadbReplicationUser }}
MARIADB_REPLICATION_PASSWORD_HASH={{ mariadbReplicationPasswordHash }}
MARIADB_REPLICATION_PASSWORD={{ mariadbReplicationPassword }}