KEY={{ directusKey }}
SECRET={{ directusSecret }}
#      LOG_LEVEL='debug'

#      REFRESH_TOKEN_COOKIE_SAME_SITE='none'
#      REFRESH_TOKEN_COOKIE_SECURE='true'

CORS_ENABLED={{ corsEnabled }}
HSTS_ENABLED={{ hstsEnabled }}

DB_CLIENT=mysql
DB_HOST={{ mysqlHost }}
DB_PORT={{ mysqlPort }}
DB_DATABASE={{ mysqlDatabase }}
DB_USER={{ mysqlUser }}
DB_PASSWORD={{ mysqlPassword }}

CACHE_ENABLED={{ cacheEnabled }}
CACHE_STORE={{ cacheStore }}

{% if redis is defined %}
REDIS={{ redis }}
{% endif %}

ADMIN_EMAIL={{ directusAdminEmail }}
ADMIN_PASSWORD={{ directusAdminPassword }}

PUBLIC_URL={{ publicUrl }}

AUTH_PROVIDERS={{ authProviders | join(' ', 'name') }}
AUTH_DISABLE_DEFAULT={{ authDisableDefault }}

{% for authProvider in authProviders %}
{%- if 'options' in authProvider %}
{%- for key, value in authProvider.options.items() %}
AUTH_{{ authProvider.name | upper }}_{{ key | upper }}={{ value }}
{% endfor %}
{% endif %}
{% endfor %}